@media screen and (max-width:991px) {

    /* Mobile Nav */

    #mobile-nav-icon {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    #navbar {
        display: flex;
        align-items: center;
    }


    /* Contact Page */

    .contact-section>div:nth-child(2)>div {
        grid-template-columns: 1fr;
    }

    .contact-map-section iframe {
        height: 40vh;
    }

    .contact-section {
        height: auto;
    }

    .contact-section>div:nth-child(1) {
        padding-top: 20%;
    }

    .contact-section>div:nth-child(2) {
        padding-bottom: 20%;
    }

    .contact-section>div:nth-child(2)>div {
        width: 90%;
    }


    /* Services Page */

    .services-scope .services-grid {
        grid-template-columns: 1fr;
    }

    .service {
        width: 46%;
        padding: 0 2%;
    }


}

@media screen and (max-width:768px) {

    /* projects */


    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }


    /* footer */

    footer img {
        width: 20%;
    }
}


@media screen and (max-width:678px) {

    .contact-form form {
        grid-template-columns: 1fr;
    }

    .contact-form form input,
    .contact-form form textarea {
        grid-column: 1/2 !important;
        width: 90% !important;
    }

    .contact-form button {
        grid-column: 1/2 !important;
        margin: 10px auto;
        position: relative;
        left: 30%;
    }


    /* Services Page */

    .service-tabs {
        grid-template-columns: 1fr;
    }

    /* Footer */

    .footer-nav {
        display: none;
    }

    .footer-contact {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footer-contact a {
        padding: 5px 20px;
    }

    .footer-social {
        padding: 10px 40%;
    }



}

@media screen and (max-width:576px) {


    /* Services Page */

    .service {
        width: 90%;
        padding: 0 2%;
    }

    .services-all .service-grid {
        justify-content: center;
        align-items: center;
    }

    /* Projects Page */

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .project {
        height: 25vh;
    }

    /* Footer */ 

    
    footer img {
        width: 25%;
    }

}